div.lvls{
    width: 100%;
    overflow-x: scroll;
    margin-left: 5em;
    overflow-y: visible;
    padding: 0;
      
}

.headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
}

   /* th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8){
    display: none;
}
 
td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8){
    display: none;
}  */